.posts {
  max-width: 60ch;
  margin: 0 auto;
  &__list {
    list-style-type: none;
    padding: 0;
  }
  &__listItem {
    margin: 2rem 0;
  }
  &__title {
    max-width: 25ch;
    transition: color 200ms ease-in;
    color: var(--primary-dark);

    font-size: var(--font-size-4);

    @media (prefers-color-scheme: dark) {
      color: var(--primary-light);
    }

    @media (max-width: 680px) {
      font-size: var(--font-size-3);
    }
    &:hover,
    &:active,
    &:focus {
      color: var(--secondary);
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__date {
    margin-right: var(--spacing-0);
    display: inline-block;
  }

  &__meta {
    margin: var(--spacing-0) 0;
  }

  &__category {
    text-decoration: none;
    color: var(--dark);
    background-color: var(--secondary);
    padding: var(--spacing-02) var(--spacing-0);
    border-radius: var(--border-radius-normal);
    display: inline-block;
    margin-right: var(--spacing-0);
    transition: background-color 200ms ease-in, color 200ms ease-in;

    &:hover,
    &:active,
    &:focus {
      color: var(--secondary);
      background-color: var(--dark);
    }
  }
}
