.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 1rem;

  &.isNarrow {
    width: 100%;
    max-width: 800px;
  }

  &.isFlex {
    display: flex;
  }
  @media (min-width: 90em) {
    max-width: 1600px;
    &.isNarrow {
      max-width: 960px;
    }
  }
}
