.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 var(--spacing-1);

  &.isNarrow {
    width: 100%;
    max-width: 800px;
  }

  &.isFlex {
    display: flex;
  }
  @media (min-width: 90em) {
  padding: 0 var(--spacing-3);

    max-width: 1600px;
    &.isNarrow {
      max-width: 960px;
    }
  }
}
