.menuBtn {
  color: var(--dark);
  padding: var(--spacing-0) var(--spacing-05);
  min-width: 5rem;
  background-color: transparent;
  border: unset;
  cursor: pointer;
  display: none;
  transform: translateY(4px);

  &:focus {
    color: var(--darkest);
  }

  @media (max-width: 560px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
      margin: var(--spacing-0) 0;
    }
  }
}

.subMenu {
  list-style: none;
  justify-content: space-between;
  background: var(--light);
  margin: 0;
  padding: 0 var(--spacing-1);
  position: fixed;
  bottom: 80px;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
  transition: transform 0.2s ease-out, opacity 0.1s linear;
  display: flex;

  @media (prefers-color-scheme: dark) {
    background-color: var(--primary);
  }

  &.isVisible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;
  }
  &__link {
    padding: var(--spacing-1) var(--spacing-1);
    display: inline-block;
    font-size: var(--font-size-2);
    color: var(--dark);
  }
}

.icon {
  width: 1.5em;
  height: 1.5em;
  color: inherit;
  display: inline-block;

  svg {
    width: 100%;
    height: 100%;
  }
  & > :global(svg) {
    fill: currentColor;
  }
}




